# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# .gitignore
node_modules/
cypress/videos/
cypress/screenshots/
cypress/downloads/
cypress/reports/
.nyc_output/
coverage/